doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Image Resizer Tech | Support
		include ../../partials/fonts
		include ../../partials/favicon
	body
		include ../../partials/header
		.support
			.support__wrapper.container
				h4.support__caption Thank you for using the Image Resizer!
				img.support__image(src="./assets/img/thank-you.svg", alt="thank you")
				.support__description
					p We doing our best to improve user experience and image optimization.
					p It is based on high-perfomat image processing library called Sharp.

					p Currently we support only jpeg/jpg, png If you need more formats like svg, web or exif for example, - just write us and we will extend support as soon as possible.

					p You can write us e-mail: <a href="mailto:image.resizer.tech@gmail.com">image.resizer.tech@gmail.com</a>
			include ../../partials/footer

