.footer
    .footer__wrapper.container
        .footer__copy
            span © 2018, Orange Studio
            br
            span All rights reserved

        .footer__links
            a.footer__links-item(href="/support.html") Support
            a.footer__links-item(href="/privacy.html") Privacy policy

        .footer__social
            .social
                a.social__item.socicon-behance(href="#" target="_blank")
                a.social__item.socicon-facebook(href="#" target="_blank")
                a.social__item.socicon-linkedin(href="#" target="_blank")
                a.social__item.socicon-dribbble(href="#" target="_blank")
<!-- Global site tag (gtag.js) - Google Analytics -->
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-126658950-1')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-126658950-1');

