header.header
    .header__wrapper.container
        h1.header__logo
            a.logo(href="/")
                img.logo__img(src="../assets/img/logo.svg", alt="Image Resizer For Mac")
        .header__btn
            a.main-btn(href="https://itunes.apple.com/us/app/image-resizer-tech/id1437007847?ls=1&mt=12") Buy it in Appstore


