doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="description", content="Image Resizer - is the Mac OS app to resize, optimize images and to clean metadata")
		meta(name="keywords", content="image resize, app for mac, resize image mac, resize, images, mac app")
		title Image Resizer Tech - App for Mac OS
		include partials/fonts
		include partials/favicon
	body
		include partials/header
		.action
			.action__wrapper.container
				.action__info
					.action__caption
						| Image resizer for Mac OS
						br
						| simply cares
						br
						|  for your free space
					.action__description
						p We are doing our  best to give the touchest experience of fast resizing.
						p It’s simple. Just try it out! (only for Mac OS for now)
				.action__img
					img(src="/assets/img/action-img.png", alt="")


		.steps
			.steps__wrapper.container
				.steps__caption How it works
				.steps__content
					.steps__item
						.steps__item-icon
							img(src="/assets/img/step-icon-1.svg", alt="")
						.steps__item-title Drop images
					.steps__item
						.steps__item-icon
							img(src="/assets/img/step-icon-2.svg", alt="")
						.steps__item-title Resize images
					.steps__item
						.steps__item-icon
							img(src="/assets/img/step-icon-3.svg", alt="")
						.steps__item-title Download

			.preview.container
				.preview__video
					video(controls)
						source(src="/assets/img/video.mp4" type="video/mp4")
						source(src="/assets/img/video.ogg" type="video/ogg")
		.about
			.about__wrapper.container
				.about__img
					img(src="/assets/img/about-img.png", alt="")
				.about__info
					.about__caption Comprehensive Settings and fast as rocket
					.about__description
						p
							| Choose the max-width, quality and you are
							br
							| ready to go.
						p
							| You can also specify if you want to save images to archive or directly rewrite them
							strong  (be aware that you’ll can’t return them back after rewriting)

		.buy
			.buy__wrapper.container
				.buy__caption Try it out!
				.buy__description Help us to improve it with your 1.99$ investment
				a.buy__link.main-btn.main-btn--fill(href="https://itunes.apple.com/us/app/image-resizer-tech/id1437007847?ls=1&mt=12", target="_blank") But it now

		include partials/footer








