.container {
    margin-right: auto;
    margin-left: auto;
    width: rem(1140);
    @include max-width-bp(tablet) {
        padding-left: rem(30);
        padding-right: rem(30);
        width: rem(960);
    }
    @include max-width-bp(tablet-small) {
        padding-left: rem(20);
        padding-right: rem(20);
        width: rem(768);
    }
    @include max-width-bp(mobile) {
        padding-left: rem(20);
        padding-right: rem(20);
        width: 100%;
    }
}
