// fonts

$montserrat: 'Montserrat';
$sourceSansPro: 'Source Sans Pro';
$main-font: $montserrat, Arial, Helvetica, sans-serif;
$add-font: $sourceSansPro, Helvetica, sans-serif;;

// colors
$white: #ffffff;
$black: #000000;

$caption-color: #46545C;
$text-color: #87888b;

$blue: #2E9BCC;
$blue-dark: #316B8E;
$blue-grey: #f5f6f8;

$primary-color: $blue;
$secondary-color: $blue-dark;
$bg-color: $blue-grey;
// $blue-dark: #1A4F8C;